{% extends 'base.html' %}
{% load static %} 
{% load plotly_dash %}

{% block body %}
        
<!-- first gradient section -->
    <header id="header1">
        <!-- <div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width: 100%" id="usaPlot">
            {% plotly_app name='SimpleExample' ratio=1 %}
        </div> -->
        <div class="front">
            <img id="logoTop" src="{% static 'website/images/WHET_Logo_ClearBackground_75_v0.1.png' %}" alt="">
            <p>World Heatmap Epidemioligy Tool</p>
            <p2>The tool that allows decision makers to visualize stuff while making the bestest solutions!</p2>
        </div>
    </header>

<!-- White section -->
    <section id="one" class="wrapper style2 special">
        <div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width: 100%" id="usaPlot">
                {% plotly_app name='SimpleExample' ratio=1 %}
            </div>
        <header class="major">
            <h2>THIS IS OBVIOUSLY UNDER MAJOR CONSTRUCTION BRUH!!</h2>
        </header>
    </section>

    <!-- second gradient section -->
    <section id="header2">
        <div class="content">
            <img id="logoTop" src="{% static "website/images/WHET_Logo_ClearBackground_75_v0.1.png" %}" alt="">
            <p>This is where we can put some kewl text</p>
        </div>
    </section>           
{% endblock %}