{% extends 'base.html' %}
{% load static %} 
{% load plotly_dash %}

{% block body %}
<!-- Header -->
    <header id="header" class='getScrolled'>
        <!-- <div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width: 100%" id="usaPlot">
            {% plotly_app name='SimpleExample' ratio=1 %}
        </div> -->
        <div class="content">
            <div id="front">
                <img src="{% static 'website/images/WHET_LogoWithText_Short_Vector_WHITE_v0.1.svg' %}" alt="" >
                <p>Making information accessible.</p>
            </div>
        </div>
    </header>

<!-- White section -->
    <section id='HowToText' class='getScrolled'>
        <div class="titleTextinHowto">
            <h2>
                How to use
            </h2>
        </div>
        <div class="instructions">
            <p>
                Cupcake ipsum dolor sit amet chupa chups dragée sesame snaps. Marzipan tootsie roll topping chocolate toffee brownie brownie marzipan. Croissant croissant lollipop dragée donut pastry sugar plum. Sesame snaps tart sesame snaps. Dessert chocolate cake marzipan sweet liquorice cake icing brownie. Croissant topping candy canes donut tootsie roll dragée. Cotton candy carrot cake muffin pudding gingerbread soufflé. Powder cupcake chocolate bar topping bear claw sweet soufflé jelly beans.
            </p><p>
                Ice cream jelly muffin bonbon gingerbread cotton candy liquorice dessert. Apple pie chocolate liquorice. Carrot cake chupa chups toffee lemon drops tiramisu. Chocolate bar tiramisu powder halvah. Toffee tiramisu jelly. Candy canes macaroon cake. Icing gingerbread icing lemon drops cookie chocolate cake pastry.
            </p><p>    
                Croissant dessert sesame snaps. Sweet roll cookie gummi bears bonbon chocolate cake tart cupcake gingerbread. Tart cheesecake biscuit wafer liquorice topping marzipan. Sweet carrot cake tiramisu oat cake jelly-o marzipan candy canes dragée jelly. Caramels gummi bears chocolate sugar plum candy canes. Lemon drops pastry chocolate cake macaroon gummi bears carrot cake bonbon sugar plum toffee. Candy cookie powder muffin gummies gummi bears brownie sweet pastry.
            </p>
            <br>
        </div>
    </section>


<!-- Plot Section -->
    <section id="one" class="wrapper style2 special">
        <div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width: 100%" id="usaPlot">
                {% plotly_direct  name='SimpleExample' %}
            </div>
        <header class="major">
            <h2>THIS IS OBVIOUSLY UNDER MAJOR CONSTRUCTION BRUH!!</h2>
        </header>
    </section>

    <!-- second gradient section -->
    <!-- <section id="header2">
        <div class="content">
            <img id="logoTop" src="{% static "website/images/WHET_Logo_ClearBackground_75_v0.1.png" %}" alt="">
            <p>This is where we can put some kewl text</p>
        </div>
    </section>            -->

    		<!-- Footer -->
    <footer id="footer">
            <p class="copyright">Built on fractal template from <a href="http://html5up.net">HTML5 UP</a></p>
        </footer>
        <!-- Scripts -->
        {% load static %}
        <script src={% static 'website/js/jquery.min.js' %}></script>
        <script src={% static 'website/js//jquery.scrolly.min.js' %}></script>
        <script src={% static 'website/js/browser.min.js' %}></script>
        <script src={% static 'website/js/breakpoints.min.js' %}></script>
        <script src={% static 'website/js/util.js' %}></script>
        <script src={% static 'website/js/main.js' %}></script>
{% endblock %}